body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}
nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}
figcaption {
  font-size: 75%;
}
#featured-property p {
  width: 800px;
}
#details div {
  float: left;
  background-color: red;
  width: 25%;
}
